.flex {
  display: flex;
  justify-content: space-between;
}
.sticky {
  margin-left: 63px;
  position: sticky;
  top: 535px;
  height: max-content;
}

.main_visual img {
  width: 888px;
  border-top-left-radius: 140px;
}

.works_title {
  width: 30%;
  padding-left: 20%;
  padding-top: 110px;
}

.message {
  text-align: left;
  font-size: 44px;
  font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
}
.message2 {
  text-align: left;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.3;
  font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
}
.works {
  padding-top: 106px;
  display: flex;
  align-items: end;
}
.works img {
  padding-left: 45px;
  width: 465px;
}
.works_text {
  text-align: left;
  padding-left: 45px;
}
.text1 {
  position: relative;
  color: #2d3487;
  font-size: 15px;
}

.text1 span {
  position: relative;
}
.line1 {
  position: absolute;
  width: 78px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  fill: #f2cce0;
}
.line2 {
  position: absolute;
  width: 78px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  fill: #f5e721;
}
.line3 {
  position: absolute;
  width: 78px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  fill: #ccd7f2;
}
.text2 {
  color: #2d3487;
  padding-top: 23px;
  font-size: 13px;
  line-height: 1.8;
}
